<div class="outer-border"
     [ngClass]="{'showBlueKey' : showKey && card.type === 'Blue',
'showRedKey' : showKey && card.type === 'Red',
'showInnocentKey' : showKey && card.type === 'Bystander',
'showAssassinKey' : showKey && card.type === 'Assassin',
'fillBlue' : card.type === 'Blue' && card.revealed,
'fillRed' : card.type === 'Red' && card.revealed,
'fillInnocentBystander' : card.type === 'Bystander' && card.revealed,
'fillAssassin' : card.type === 'Assassin' && card.revealed,
'disabled': disabled}"
     (click)="revealCard()">
  <div class="noun-label">
    <h3>
      {{card.noun}}
    </h3>
  </div>
</div>
