<div class="button-bar">
  <button (click)="newGame()">New Game</button>
  <button *ngIf="!keyVisible" (click)="toggleKey()">Show Key</button>
  <button *ngIf="keyVisible" (click)="toggleKey()">Hide Key</button>
  <button (click)="cardSelected(null)">Pass Turn</button>
</div>

<div class="card-counter-container">
  <div *ngIf="cards.length" class="card-counter">Red team cards remaining: {{cardsRemaining('Red')}}</div>
  <div *ngIf="cards.length" class="card-counter">Blue team cards remaining: {{cardsRemaining('Blue')}}</div>
</div>


<div class="message" [ngClass]="{'gameOver': isGameOver, 'red-turn': !isGameOver && currentTurn === 'Red', 'blue-turn': !isGameOver && currentTurn === 'Blue'}">{{message}}</div>

<app-game-board [showKeys]="keyVisible" [cards]="cards" (cardSelected)="cardSelected($event)" [isGameOver]="isGameOver"></app-game-board>

