:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-remaining-container {
  display: flex;
}

.card-counter-container :first-child {
  padding: 1.5em 0 .25em 0;
}

.card-counter-container :last-child {
  padding: .25em 0 0 0;
}

app-game-board {
  align-self: stretch;
}

.message {
  display: flex;
  padding: 1em 0;
  font-size: 20px;
}

.message.red-turn {
  color: red;
}

.message.blue-turn {
  color: blue;
}

.message.gameOver {
  font-weight: bold;
}

.button-bar {
  display: flex;
  padding-top: 1em;
}

button {
  border-radius: 5px;
  padding: .5em;
  margin-right: 1em;
}
