:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-game-board {
  align-self: stretch;
}

.message {
  display: flex;
  padding: 1em 0;
  font-size: 20px;

}

.message.gameOver {
  font-weight: bold;
}

.button-bar {
  display: flex;
  padding-top: 1em;
}

button {
  border-radius: 5px;
  padding: .5em;
  margin-right: 1em;
}
